nav {
    /* background-color: #00A7CC; */
    background-color: #1158b5b9;
    height: 80px;

}

.phones {
    margin-left: 10px;
    color: #000;
}

.rightSection a {
    text-decoration: none;
    font-weight: 600;
}

.rightSection {
    margin-right: 70px;
    background-color: rgb(213, 219, 213);
    padding: 5px 10px;
    border-radius: 10px;
    transition: 800ms;
}

.rightSection:hover {
    background-color: rgb(237, 226, 27);
    cursor: pointer;
}

.rightSection img {
    background-color: transparent;
}

.navbar-brand {
    margin-left: 30px;
    margin-right: 70px;
}

.navbar-brand img {
    margin-left: 10px;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    border-radius: 10px;
}

.nav-item a {
    color: #fff;
    transition: 700ms;
}

.nav-item a:hover {
    color: rgb(61, 116, 150);
    background-color: rgb(255, 249, 249);

}