@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.main {
    padding-top: 50px;
}

.heading {
    text-align: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    color: #000
}


.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 70px;

}

.category:nth-child(1) {
    width: 270px;
    margin-right: 40px;
}

.category:nth-child(2) {
    width: 270px;
    margin-right: 40px;
}

.category:nth-child(3) {
    display: flex;
    align-items: center;
}

.category {
    border: 1px solid grey;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.3;
    transition: 600ms;

}

.category:hover {
    opacity: 1;
    background-color: rgb(68, 175, 194);
    border: 1px solid #fff;
    color: #fff;

}



.category h4 {
    font-size: 21px;

}



.row {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 400px;
    margin-bottom: 25px;
}

.card img {
    object-fit: cover;
    height: 180px;
}

.card .news-info {
    height: 150px;
    color: #000;

}



.card-body .date-info {
    font-size: 13px;
    font-weight: 700;
    color: black;
    font-family: 'Bai Jamjuree', sans-serif;
}

.routLink {
    text-decoration: none;
}