.main-Table{
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    background-image: url('../Infectioned/photos/pexels-printexstar-11624079.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.header-title h1{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    color: rgb(255, 255, 255)
}
.main-Table{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contentTable{
    width: 90%;
    margin: auto;
}

.addition{
    width: 130px;
    margin: auto;

}



#infected{
    opacity: 1;
}

#infected td{
    border: 1px solid grey;
    text-align: center;

}

table th{
    text-align: center;
    border: 1px solid grey;

}
